body, html {
	margin: 0 0 0 0;
	max-width: 300px;
	max-height: 380px;
	width:  300px;
	height: 380px;
	background-image:url(/images/light-noise.png);
	background-repeat: repeat;	
	color: #2b2b2b; 
	font-size: 1em;
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

i {
	margin-top: 1px; 
	color: #2b2b2b;
	text-shadow: 0px 1px #bbb;
	font-size: 30px;
	-webkit-font-smoothing: antialiased;
}
 
#lb-refresh-button {
	margin-top: 10px;
	margin-left: 270px;
	font-size: 20px;
	font-size: 18px;
	cursor: pointer;
}

h4 {

	color: #fff;
	text-align: center;
	-webkit-font-smoothing: antialiased;

}

h4 i {
	color: #fff;
	font-size: 15px;
}

.message {
	text-align: center;
}



li {
	position: relative;
	display: block;
	box-sizing: border-box;
	margin-left: -25px;
	padding-right: 10px;
	width: 300px;
	height: 80px;
	border-top: 1px solid rgba(255,255,255,0.75);
	border-bottom: 1px solid rgba(190,190,190,0.75);
	background: no-repeat center center;
	-webkit-background-size: cover;
	box-shadow: inset 50px 0px 140px 23px rgba(200,200,200,0.75);
	list-style: none;
	list-style-type: none;
	list-style-image: none;
	text-shadow:1px 0px 3px #333333
	-webkit-box-shadow: inset 50px 0px 140px 23px rgba(200,200,200,0.70);
}

li h4 {	
	margin-top: 0;
	margin-bottom: -10px;
	margin-left: 10px;
	padding-top: 5px;
	text-align: left;
	text-shadow: 1px 0px 5px rgba(255, 255, 255, 1);
	font-size: 15.3px;
	color: #333;

}


h3 {
	color: #2b2b2b; 
	text-shadow:1px 0px 3px #333;
}

.fa-clock-o  {
	color: #fff;
}

.lb-schedule-p {
	position:  absolute;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 10px; 
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	font-size: 13px;
	font-weight: bold

}

.place-holder {
	color:#2b2b2b;
	text-align: center;
	text-shadow: 0px -1px #fff,5px 0px 30px #9b9b9b;
	font-size: 1.8em;
}

#live-container {
	color: #aaa;
	text-align: center;
	text-decoration: none;
	font-size: 18px;

}

 #lb-page-status a  {
	text-decoration: none;
}


#live-text {
	color: #aaa;
	text-align: center;

}

#title {
	margin-top: -46px;	
	margin-left: 120px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

#header {
	z-index: 9;
	width: 300px;
	height: 54px;
	border-bottom: 3px solid #b31919;
	background-color: ;
	background-image:url(/images/background.png);
	background-repeat: repeat;
}

#logo {
	margin-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px; 
	width: 80px;
	height: 50px; 
}

#image-offline {
	overflow: hidden;
	margin-top: -10px;
	margin-left: 80px;	
	max-height: 200px;
	width: 130px;
	height: 130px;

}

#image-online {
	margin-top: 10px;
	margin-left: 80px;
	width: 128px;
	height: 128px;
}


#offline-bottom  {
margin-bottom: -95px;	
color: #2b2b2b;
text-shadow: 0px 1px #fff;
}

#lb-controls {	
	width: 100%;
	height: 38px;
	border-bottom: 3px solid #b31919;
	background-color: #7a7a7a;
	background-repeat: repeat;
	box-shadow-bottom: 10px 0 10px -10px black;
	text-shadow: -1px 1px 0 #fff;	
}

.control	 {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 102px;
  height: 36px;
  outline: none;
  border-color: #898989 #898989 hsl(0, 0%, 49%);
  border-radius: none;

  background-color: hsl(0, 0%, 54%) !important;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#bcbcbc), to(#898989));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(100%, #898989));
  background-image: -webkit-linear-gradient(top, #bcbcbc, #898989);
  background-image: linear-gradient(#bcbcbc, #898989);
  background-repeat: repeat-x;  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcbcbc", endColorstr="#898989");
 -webkit-font-smoothing: antialiased;
}
 
#settings-header {
	color: #2b2b2b;
	text-align: center;
}

#lb-settings {
outline: none;

border-radius: 0px;

}

#lb-live {
	outline: none;
}

#lb-main {
	overflow: scroll;
	max-height:290px;	
	width: 300px;
	background-repeat: repeat;
	
}

/* Settings */

#lb-page-settings {
	overflow-y:scroll;
	width: 300px;
	background-repeat: repeat;
	color: #2b2b2b;

}

.ui-slider-horizontal {
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 260px;
	height: 8px;
	border: none;
	border-radius: 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(191,191,191,1)));

}


.ui-slider .ui-slider-handle {
    width: 17px;
    height:17px;
    outline: none;
    border: none;
    
    border-radius: 40px;
    background: #6b6b6b;
    cursor: pointer;


}

#lb-page-status {
	overflow: hidden;
	max-width: 300px;	
	width: 300px;
}

#lb-status-live {
	position: relative;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	margin-top: 0px;
	height: 298px;
	background: no-repeat center center;
	-webkit-background-size: cover;
	box-shadow: inset 0px 0px 256px 25px rgba(0,0,0,1);
	text-shadow:1px 0px 3px #eee;
	cursor: pointer;


}

#lb-status-offline {
	position: absolute;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	max-width: 300px;
	max-height: 280px; 
	width: 300px;
	height: 280px;
	background: no-repeat center center;
	-webkit-background-size: cover;

}

#offline-about-icon {
	margin-top: 87px;
	margin-left: 10px;
	color: #2b2b2b;
	font-size: 14px;
	cursor: pointer;
}


#show-name {
	margin-right: 10px;
	margin-left: 10px;
	color: #fff;
	text-align: center;
	font-size: 1.1em;
}

#lb-page-schedule {
	width: 300px;
	
}

#lb-schedule-header {
	margin-left: 0px;
	width: 300px;
	height: 40px;
	background-image: url(/images/tweed-light.png);

}

#lb-refresh-schedule {
	margin-top: -5px;
	margin-left: 2px;
	color: #2b2b2b;
	font-size: 15px;
	cursor: pointer;
}

#schedule-header-image {

	width: 80%;
	height: 40px;
	margin: 2px 0px -2px 20px;
}

#lb-schedule-items {
	overflow-x:hidden;
	background-repeat: none;
}

#lb-schedule-items ul li:first-child {
	margin-top: 0;
}

#lb-schedule-items ul {
	margin-bottom: 0;
}



::-webkit-scrollbar              { display: none; }
::-webkit-scrollbar-button       { display: none; }
::-webkit-scrollbar-track        { display: none; }
::-webkit-scrollbar-track-piece  { display: none; }
::-webkit-scrollbar-thumb        { display: none; }
::-webkit-scrollbar-corner       { display: none; }
::-webkit-resizer   

#live-bomb::-webkit-scrollbar { width: 0 !important; }


label {
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 5px;
	font-weight: bold;
	font-size: 15px;
	cursor: default;
}

#theme-selector {
	margin-top: 10px;
	margin-bottom: 10px;

	margin-left: 50px;

}

#light-theme {
	height: 32px;
	outline: none;
	border-color: #898989 #898989 hsl(0, 0%, 49%);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: hsl(0, 0%, 54%) !important;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#bcbcbc), to(#898989));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(100%, #898989));
	background-image: -webkit-linear-gradient(top, #bcbcbc, #898989);
	background-image: linear-gradient(#bcbcbc, #898989);
	background-repeat: repeat-x;  color: #333 !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcbcbc", endColorstr="#898989");
	-webkit-font-smoothing: antialiased;
}

#light-theme:active 
#light-theme:focus{
	box-shadow: inset -7px 8px 43px 1px rgba(0,0,0,0.54);
}

#dark-theme {
	height: 32px;
	outline: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}


#settings-icon {
	margin-right: 10px;
	color: #898989;
	font-size: 15px;
}
	
#lb-save-button {
	margin-bottom: 10px;
	margin-left: 80px;
	width: 140px;
	outline: none;
}

.fa-floppy-o {
	margin-right: 10px;	
	color: #c4c4c4;
	font-size: 15px;	
}

#lb-settings-message {
	position:  absolute;
	z-index: 10;
	padding-top: 5px;
	width: 300px;
	height: 26px;
	background-color: green;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.85);
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	
}

#lb-settings-message i {
	color: #fff;	
}

.fa-check-circle {
	margin-right: 10px;
	text-shadow: 1px 1px 1px black;
}

#lb-schedule-loading {
	margin-top: 65px;
	margin-left: 128px;
	color: #4b4b4b;

	font-size: 47px;
}

#lb-title-loading {
	margin-top: 6px;
	margin-left: 142px;
	color: #a0a0a0;
	font-size: 20px;
}

.play-sound {
	margin-left: 74px;
	text-align: right;
	font-size: 15px;
	cursor: pointer;
}

#lb-play-bumper {
	margin-left: 128px;
}

#lb-play-rapman {
	margin-left: 151px;
}

#lb-play-bman {
	margin-left: 67px;
}

#no-schedule {
	margin-right: 10px;
	margin-left: 10px;
}

#lb-page-about {
	position: relative;	
	overflow: scroll;
	max-height: 280px;
	width: 300px;
	background-image: url(/images/about-background.png);
	-webkit-background-size: cover;
	box-shadow: inset 0px 0px 140px 3px rgba(0,0,0,0.3);
	text-align: center;
	text-shadow:1px 0px 3px #333333
	-webkit-box-shadow: inset 0px 0px 140px 23px rgba(0,0,0,0.1);
	/*box-sizing: border-box;*/
	display: block;
}

 .about-custom {
	margin-right: 8px;
	margin-left: 8px;
	color: #fff;
}

#lb-slider-value {
	margin-bottom: 10px;
}

#about-close-icon {
	padding-left: 80px;
	font-size: 15px;
	cursor: pointer;
}

.about-text-title {
	color: #a0a0a0;
	font-size: 14px;
}

#about-page-title {
	margin-bottom: 20px;
	margin-left: 90px;
}

#about-livebomb {
}

#settings-scroll {
	height: inherit;
}

#schedule-scroll {
	height: inherit;
}

.about-grey-text {
	color: #a3a3a3;
}


#offline-about-close {
	padding-left: 65px;
	color: #fff;
	font-size: 22px;
	cursor: pointer;
}

#mail-icon {
	color: #a3a3a3;
	font-size: 15px;
}

#tools {
}

#author {
	margin-bottom: 20px;
}

#about-image {
	width: 100px;
	height: 100px;
}

#settings-title {
	color: #2b2b2b;
}


#settings-about-icon {
	margin-left: 8px;
	color: #1b1b1b;
	font-size: 17px;
}

#settings-about {
	margin-top: -8px;
	padding-top: 4px;
	height: 22px;
	border-top: 2px solid #a3a3a3;
	background-color: #5e5e5e
	!important;
	color: #a3a3a3;
	text-align: center;
	text-shadow: 2px 2px #000;
	font-weight: bold;
	font-size: 17px;
	cursor: pointer;
}

#settings-about-close {
	margin-right: 15px;
	padding-left: 70px;
	font-size: 20px;
	cursor: pointer;
}

#live-duder {
	color: #fff;
	text-shadow:1px 0px 3px #333333;
}

#live-bomb {
	overflow: hidden;
}

#donation-link {
	padding-bottom: 20px;
	font-weight: bold;
}

#donation-link:hover {
	text-decoration: none;
}

#coffee {
	color:#fff;
	font-size: 16px;
}

#paypal {
	margin-right: 10px;
	width: 60px;
	height: 18px;
}

#image-author {
	font-weight: bold;
}

#lb-logo {
	margin-top: 10px;
	margin-bottom: 2px;
	margin-left: 30px;
	width: 145px;
	height: 27	px;
}

