body {
	background-image:url(images/background.png);
	background-repeat: repeat;
	color: #fff;
	text-align: center;
	text-shadow: ;
	-webkit-font-smoothing: antialiased;
}

#title {
	font-size: 3em;
	line-height: 1em;
}

#logo {
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

#intro {
	margin-top:  1em;
	margin-bottom: 1em;
	color: #8b8b8b;
}

#schedule {
	background-image: url(images/changelog1.png);
	background-repeat: no-repeat;
	background-size: auto;
	height: 500px;
	margin-top: 1em;
}

.feature {
	/*color: #ce1d1c;
*/	
	margin-top: 1em;
}

.description {
	margin-right: 1em;
	color: #8b8b8b;
}

li {
	text-align: left;
	font-size: 1.6em;
	margin-top: 0.8em;
}
span {
	color: #ce1d1c;
}

#important {
	text-align: left;
	font-size: 1.5em;
	margin-top: 2em;
}

#permission {
	cursor: pointer;
}