
body {
	margin: 0 0 0 0; 
	font-size: 1em;	
	color: white;
	width:  300px;
	height: 380px;
	max-height: 380px;
	max-width: 300px;
	-webkit-font-smoothing: antialiased;
	background-image:url(/images/dark-noise.png);
	background-repeat: repeat;	

}

i { 
	color: #fff;
	font-size: 30px;
	margin-top: 1px;
	text-shadow: 2px 2px #000;
	-webkit-font-smoothing: antialiased;
}
 
#lb-refresh-button {
	font-size: 16px;
	margin-left: 270px;
	margin-top: 10px;
	font-size: 18px;
	cursor: pointer;
}

h4 {

	color: #fff;
	text-align: center;
	-webkit-font-smoothing: antialiased;

}

h4 i {
	font-size: 15px;
	color: #727272;
}

.message {
	text-align: center;
}



li {

	width: 300px;
	height: 80px;
	margin-left: -25px;
	padding-right: 10px;
	margin-bottom: 1.5px;
	margin-top: 1.5px;
	padding-bottom: 0px;
	list-style-type: none;
	list-style: none;
	list-style-image: none;
	position: relative;
	background: no-repeat center center;
	-webkit-background-size: cover;
	box-sizing: border-box;
	display: block;
	text-shadow:1px 0px 3px #333333
	-webkit-box-shadow: inset 0px 0px 140px 23px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 140px 3px rgba(0,0,0,0.75);
	

	

}

li h4 {
	text-align: left;
	font-size: 15.3px;
	margin-left: 10px;
	padding-top: 5px;
	text-shadow: 1px 0px 5px rgba(0, 0, 0, 1);	
	margin-top: 0;
	margin-bottom: -8px;

}


h3 { 
	text-shadow:1px 0px 3px #333;
}


.lb-schedule-p { 
	font-size: 12.5px;
	margin-left: 10px;
	text-shadow: 1px 2px 1px #000;
	margin-bottom: 10px;
	margin-top: 20px;
	position:  absolute;
	color: #fff;

}

.place-holder {
	color: #fff;
	font-size: 1.8em;
	text-align: center;
}

#live-container {
	text-align: center;
	color: #aaa;
	font-size: 18px;
	text-decoration: none;

}

 #lb-page-status a  {
	text-decoration: none;
}


#live-text {
	color: #aaa;
	text-align: center;

}

#title {
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);	
	margin-left: 120px;
	margin-top: -46px;
	color: #fff;
}

#header {
	width: 300px;
	height: 54px;
	background-color: ;
	border-bottom: 3px solid #b31919;
	background-image:url(/images/background.png);
	background-repeat: repeat;
	z-index: 9;
}

img {
	outline: none;
}

#logo { 
	width: 80px;
	height: 50px;
	margin-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px; 
	outline: none;
}

#image-offline {
	width: 130px;
	height: 130px;
	margin-left: 80px;
	overflow: hidden;
	margin-top: -10px;	
	max-height: 200px;

}

#image-online {
	width: 128px;
	height: 128px;
	margin-left: 80px;
	margin-top: 10px;
}


#offline-bottom  {
margin-bottom: -100px;	
}

#lb-controls {
	background-image:url(/images/dark-noise.png);
	background-repeat: repeat;	
	width: 100%;
	height: 38px;
	border-bottom: 3px solid #b31919;
	box-shadow-bottom: 10px 0 10px -10px black;

	
}

.btn-inverse	 {

width: 102px;
height: 36px;
border-radius: 0;
margin-top: 1px;
margin-bottom: 1px;
margin-left:-10;
outline: none;
}
 
#settings-header {
	color: #898989;
	text-align: center;
}

#lb-settings {

border-right: 1px solid #000;
outline: none;

}

#lb-live {
	outline: none;
}

#lb-main {
	background-image:url(/images/dark-noise.png);
	background-repeat: none;	
	width: 300px;
	max-height:280px;
	overflow: scroll;
	
}

/* Settings */

#lb-page-settings {
	background-image:url(/images/dark-noise.png);
	background-repeat: repeat;
	/*height: 600px;*/
	width: 300px;
	color: #fff;
	overflow-y:scroll;

}

.ui-slider-horizontal {
	border-radius: 20px;
	width: 260px;
	height: 8px;
	margin-left: 20px;
	margin-right: 20px;
	border: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(191,191,191,1)));
	margin-top: 10px;
	margin-bottom: 10px;

}


.ui-slider .ui-slider-handle {
    
    border-radius: 40px;
    
    width: 17px;
    height:17px;
    background: #898989;
    border: none;
    outline: none;
    cursor: pointer;


}

#lb-page-status {	
	width: 300px;
	max-width: 300px;
	overflow: hidden;
}

#lb-status-live {
	cursor: pointer;
	height: 278px;
	overflow: hidden;
	position: relative;
	background: no-repeat center center;
	position: relative;
	-webkit-background-size: cover;
	box-sizing: border-box;
	display: block;
	text-shadow:1px 0px 3px #333333;
	box-shadow: inset 0px 0px 256px 25px rgba(0,0,0,1);
	margin-top: 2px;


}

#lb-status-offline {
	overflow: hidden;
	max-height: 280px;
	max-width: 300px; 
	width: 300px;
	height: 300px;
	position: absolute;
	background: no-repeat center center;
	-webkit-background-size: cover;
	box-sizing: border-box;
	display: block;

}

#offline-about-icon {
	font-size: 14px;
	margin-top: 87px;
	margin-left: 10px;
	color: #a3a3a3;
	cursor: pointer;
}


#show-name {
	color: #fff;
	font-size: 1.1em;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

#lb-page-schedule {
	width: 300px;
	
}

#lb-schedule-header {
	
	background-image: url(/images/tweed.png);
	height: 40px;
	margin-left: 0px;
	width: 300px;

}

#lb-refresh-schedule {
	font-size: 15px;
	margin-left: 2px;
	color: #fff;
	margin-top: -5px;
	cursor: pointer;
}

#schedule-title {

	margin-right: 10px;
	text-align: left;
	margin-left: 5px;
	color: #9e9e9e;	
	margin-bottom:10px;
	overflow-x:hidden;


}

#lb-schedule-items {
	background-image: url(/images/dark-noise.png);
	background-repeat: none;
	overflow-x:hidden;
}


::-webkit-scrollbar {
	display: none;
}

#element::-webkit-scrollbar { width: 0 !important }


label {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 5px;
	cursor: default;
}

#theme-selector {

	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;

}

#light-theme {
	background-color: hsl(0, 0%, 54%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcbcbc", endColorstr="#898989");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#bcbcbc), to(#898989));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(100%, #898989));
  background-image: -webkit-linear-gradient(top, #bcbcbc, #898989);
  background-image: linear-gradient(#bcbcbc, #898989);
  border-color: #898989 #898989 hsl(0, 0%, 49%);  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
 -webkit-font-smoothing: antialiased;
	height: 30px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	outline: none;
	
}

#light-theme:active 
#light-theme:focus{
	box-shadow: inset -7px 8px 43px 1px rgba(0,0,0,0.54);
}

#dark-theme {
	height: 32px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	outline: none;
}

#settings-icon {
	color: #898989;
	font-size: 15px;
	margin-right: 10px;
}	
	
#lb-save-button {
	
	outline: none;
	margin-left: 80px;
	width: 140px;
}

.fa-floppy-o {
	font-size: 15px;	
	color: #c4c4c4;
	margin-right: 10px;	
}

#lb-settings-message {
	height: 26px;
	width: 300px;
	background-color: green;
	text-align: center;
	padding-top: 5px;
	-webkit-box-shadow: 0px 7px 12px 0px rgba(0, 0, 0, 0.75);
	position:  absolute;
	z-index: 10;
	text-shadow: 1px 1px 1px black;
	
}

.fa-check-circle {
	margin-right: 10px;
	text-shadow: 1px 1px 1px black;
}

#lb-schedule-loading {
	font-size: 46px;
	color: #a0a0a0;
	margin-left: 128px;
	margin-top: 65px;
}

#lb-title-loading {
	font-size: 20px;
	margin-left: 142px;
	margin-top: 6px;
	color: #a0a0a0;
}

.play-sound {
	text-align: right;
	font-size: 15px;
	cursor: pointer;
	margin-left: 90px;
}

#lb-play-bumper {
	margin-left: 136px;
}

#lb-play-rapman {
	margin-left: 155px;
}

#no-schedule {
	margin-left: 10px;
	margin-right: 10px;
}

#lb-page-about {
	width: 300px;
	max-height: 280px;	
	overflow: scroll;
	text-align: center;
	background-image: url(/images/about-background.png);
	position: relative;
	-webkit-background-size: cover;
	/*box-sizing: border-box;*/
	display: block;
	text-shadow:1px 0px 3px #333333
	-webkit-box-shadow: inset 0px 0px 140px 23px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 140px 3px rgba(0,0,0,0.3);
}

#lb-slider-value {
	margin-bottom: 10px;
}

#about-close-icon {
	padding-left: 80px;
	font-size: 15px;
	cursor: pointer;
}

.about-text-title {
	color: #a0a0a0;
	font-size: 14px;
}

#about-page-title {
	margin-bottom: 20px;
	margin-left: 90px;
}

#about-livebomb {
}

#settings-scroll {
	height: inherit;
}

#schedule-scroll {
	height: inherit;
}

.about-grey-text {
	color: #a3a3a3;
}


#offline-about-close {
	padding-left: 65px;
	font-size: 22px;
	cursor: pointer;
}

#mail-icon {
	color: #a3a3a3;
	font-size: 15px;
}

#tools {
}

#author {
	margin-bottom: 20px;
}

#about-image {
	width: 100px;
	height: 100px;
}

#settings-about-icon {
	font-size: 15px;
	margin-left: 8px;
	color: #a3a3a3;
}

#settings-about {
	color: #a3a3a3;
	background-color: #3b3b3b;
	height: 20px;
	padding-top: 4px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	text-shadow: 2px 2px #000;
	margin-top: -8px;
}

#settings-about-close {
	margin-right: 15px;
	padding-left: 70px;
	font-size: 20px;
	cursor: pointer;
}


#live-bomb {
	overflow: hidden;
}

#donation-link {
	padding-bottom: 20px;
	font-weight: bold;
}

#donation-link:hover {
	text-decoration: none;
}

#coffee {
	color:#fff;
	font-size: 16px;
}

#paypal {
	width: 60px;
	height: 18px;
	margin-right: 10px;
}

.about-custom {
	color: #fff;
	margin-right: 8px;
	margin-left: 8px;
}

#image-author {
	font-weight: bold;
}

#lb-logo {
	margin-bottom: 2px;
	margin-top: 10px;
	width: 145px;
	height: 27	px;
	margin-left: 30px;
}

